<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
  </configSections>
  
  
  

  <system.web.webPages.razor>
    <pages>
      <namespaces>
        
        <add namespace="BrightstarDB" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="BrightstarDB" />
    </assemblies>
    <namespaces>
      <add namespace="BrightstarDB" />
    </namespaces>
  </razor>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="VDS.Common" publicKeyToken="ab5f4eb908061bf0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.0" newVersion="1.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
