<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotNetRDF" version="1.0.3" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" />
  <package id="Nancy" version="0.22.2" targetFramework="net40" />
  <package id="Nancy.Viewengines.Razor" version="0.22.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net40" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" targetFramework="net40" />
  <package id="VDS.Common" version="1.2.0" targetFramework="net40" />
</packages>