<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="brightstarService" type="BrightstarDB.Server.Modules.BrightstarServiceConfigurationSectionHandler, BrightstarDB.Server.Modules" />
  </configSections>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
  <system.diagnostics>
    <trace autoflush="true" indentsize="4" />
    <sources>
      <source name="BrightstarDB" switchValue="Verbose">
        <listeners>
          <add name="logFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\brightstar\log.txt" traceOutputOptions="DateTime">
          </add>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
  <brightstarService connectionString="type=embedded;StoresDirectory=c:\brightstar">
    <storePermissions>
      <fallback authenticated="All" anonymous="All" />
    </storePermissions>
    <systemPermissions>
      <fallback authenticated="All" anonymous="All" />
    </systemPermissions>
  </brightstarService>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="VDS.Common" publicKeyToken="ab5f4eb908061bf0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.0" newVersion="1.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="BrightstarDB.QueryExecutionTimeout" value="250000" />
    <add key="BrightstarDB.UpdateExecutionTimeout" value="250000" />
  </appSettings>
</configuration>
