html, body 
{
    height:100%;
}

body 
{
    background: #f8f8f8;
    font-family: Helvetica, Arial, Sans-Serif;
    color: #333;
    min-width:100px;
}

body > header 
{
    background: #0969a3;
    color: #fff;
}

#pageheader 
{
    padding : 10px 0px 10px 20px;
    position: relative !important;
    width:960px !important;
    margin: 0 auto !important;
}

#pageheader > h1
{
    font-size: 30px;
}

#sitenav 
{
    background: #4594c3;
}

#sitenav ul
{
    padding:10px 0px 10px 20px;
    position:relative !important;
    width:960px !important;
    margin: 0 auto !important;
    list-style-type:none;
}

#sitenav li
{
    display:inline-block;
    margin-left : 150px;
    font-size: 26px;
    color: #fff;
}

#sitenav li:first-child
{
    margin-left: 0px;
}

#sitenav a, 
#signindisplay a 
{
    color : #fff;
    text-decoration:none;
}

#sitenav a:hover, 
#signindisplay a:hover
{
    text-decoration: underline;
}

#sitenav a:visited,
#signindisplay a:visited
{
    color: #fff;
}

#signindisplay 
{
    position:absolute;
    top: 20px;
    right: 0;
}

#breadcrumb li
{
    display: inline-block;
}

#breadcrumb li:after 
{
    content: ' > '
}

#breadcrumb li:last-child:after 
{
    content: ''
}

#maincontent 
{
    width:960px !important;
    margin: 0px auto !important;
    padding: 12px;
    background: #fff;
    font-size: 12pt;
}

body > footer
{
    padding: 12px;
    text-align:center;
}

h1 
{
    font-size: 250%;
    font-weight: bold;
    line-height: 1.5;
}

h2 
{
    font-size: 180%;
    font-weight:bold;
    line-height:2;
}

h3 
{
    line-height: 2;
}

p 
{
    font-family: Georgia, Serif;
    padding-top : 6px;
    padding-bottom: 6px;
}

.orange-text 
{
    color: #F7931E;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-description {
    margin: 2em 0 0 0;
    font-size: 0.8em;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Gradient Buttons */
.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -mox-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.button:hover {
    text-decoration: none;
}

.button:active {
    position: relative;
    top: 1px;
}

.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#faa51a', EndColorStr='#f47a20');
}

.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top, #f88e11, #f06015);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#f88e11', EndColorStr='#f06015');    
}

.orange:active {
  background: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top, #f47a20, #faa51a);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#f47a20', EndColorStr='#faa51a');       
}

ul.horizontal-menu 
{
    padding-top: 10px;
    padding-bottom: 3px;
    position:relative !important;
    width:960px !important;
    margin: 0 auto !important;
    list-style-type:none;
    border-bottom : 1px solid #ddd;
    display:block;
    background-color: #eef;
}

.horizontal-menu li
{
    display:inline-block;
    margin-left : 5px;
}


.horizontal-menu a
{ 
    text-decoration:none;
}

.horizontal-menu a:hover
{
    text-decoration: underline;
}

.horizontal-menu li:after 
{
    content: ' | '
}

.horizontal-menu li:last-child:after 
{
    content: ''
}

/* Form layout */

.importDlg .editor-field input { width: 100%; }