<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!-- Specifies the directory that contains all of the stores that will
         be accessible through the server. You may want to change this value 
		 to allow you to store the data on a separate disk from the program 
		 files. -->
    <add key="BrightstarDB.StoreLocation" 
	     value="C:\Program Files (x86)\NetworkedPlanet\BrightstarDB\Data\" />
	
	  <!-- Specifies the port that Brightstar will listen on for HTTP clients. Default is 8090 -->
    <add key="BrightstarDB.Server.Port" value="8090" />

    <!-- Set the tcp port that the Brightstar will listen on for TCP clients. Default is 8095 -->
    <!-- <add key="BrightstarDB.TcpPort" value="8095" /> -->

    <!-- Set the named pipe that the Brightstar service will listen on for named pipe clients. Default is brightstar -->
    <!-- <add key="BrightstarDB.NetNamedPipeName" value="brightstar" /> -->

    <!-- The default store index persistence type. Default is AppendOnly -->
    <!-- <add key="BrightstarDB.PersistenceType" value="AppendOnly" /> -->

    <!-- Enables the default query cache. -->
    <add key="BrightstarDB.EnableQueryCache" value="true"/>

    <!-- The amount of memory (in MB) to use for the SPARQL query cache -->
    <!-- <add key="BrightstarDB.QueryCacheMemory" value="512" /> -->

    <!-- The amount of disk space (in MB) to use for the SPARQL query cache. This only applies to server / embedded applications -->
    <!-- <add key="BrightstarDB.QueryCacheDisk" value="2048" /> -->

    <!-- Indicates the number of triples in a transaction to process before doing a partial commit. 
         Larger numbers require more machine memory but result in faster transaction processing. -->
    <!-- <add key="BrightstarDB.TxnFlushTripleCount" value="100000" /> -->

    <!-- Specifies the maximum amount of memory (in MB) to use for page caching. -->
    <!-- <add key="BrightstarDB.PageCacheSize" value="2048" /> -->

  </appSettings>
  
  <system.diagnostics>
    <sources>
	  <!-- For a production deployment you may wish to reduce the default 
	       logging level from Verbose to either "Warning" or "Error" to 
		     minimize the log output -->
      <source name="BrightstarDB" switchValue="Verbose"/>
    </sources>
  </system.diagnostics>
</configuration>
