body {
    margin: 10px 50px;
}
/* Forms */
fieldset {
    border: 1px solid green;
    padding: 1em;
    margin: 2em;
}
legend 
{
    padding: 0.2em 0.5em;
    color: green;
    font-size: 90%;
    border: 1px solid green;
}

.display-field, .display-label, .editor-field, .editor-label {
    margin-top: 1em;
}

.display-label, .editor-label {
    float: left;
    clear: left;
    width: 25%;
    margin-right: 0.5em;
    text-align: right;
    font-weight: bold;
}

.display-field, .editor-field {
    clear: right;
    width: 75%;
}

.validation-summary-errors {
    color: red;
}

.clear { clear: both; }

header nav ul {
    list-style: none;
    float: right;
}

header nav li {
    display: inline-block;
    margin-left: 2em;
}

table 
{
    margin-top: 1em;
    border-spacing: 3px;
    border-collapse: collapse;
}

th{ padding: 3px;border: 1px #333 solid;
    border-bottom: 3px #333 solid;}

td {
    padding: 3px;
    text-align: center;
    border: 1px #333 solid;
}

tbody tr:nth-child(odd) {
    background: aliceblue;
}
