html, body {
    height: 100%;
}

body {
    background: #F8F8F8;
    font-family: Helvetica, arial, sans-serif;
    color: #333;
    min-width: 1000px;
}

/* Note: Make HTML 5 elements block-level for consistent styling */
header, nav, article, footer, address {
    display: block;
}

/* Sections */
header, footer {
    clear: both;
}

body > header, body > nav, body > article, body > footer {
    padding-left: 50px;
    padding-right: 50px;
}

body > header h1 {
    font-size: 46px;
    padding: 20px 0px;
}

.content-wrapper h1 
{
      font-size: 32px;
}

.logo {
    margin-top: 10px;
    margin-right: 10px;
    display: block;
    height: 66px;
    width: 366px;
}

.logotext {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
}

article.post h1.logotext {
    color: #222;
}

.logotext-highlight {
    color: #f7931e;
}

body > header {
    background-color: #345f2e;
    padding-top: 1px;
    padding-bottom: 4px;
    border-bottom: 1px solid #32582d;
}

body > header > hgroup {
    position: relative !important;
    width: 960px !important;
    margin: 0 auto !important;
}

/* Search in header*/

body > header > hgroup > form {
    position: absolute;
    top: 20px;
    right: 0;
}

/* search box */
#q {
    width: 200px;
    border: 1px solid green;
    padding: 3px;
    height: 20px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: inline;
    font-size: 14px;
    float: left;
    display: inline;
    margin: 0;
    vertical-align: middle;
    background-color: #f8f8f8;
    border-right-width: 0px;
}

.button {
    border: 1px solid #34872E;
    border-left-style: none;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    height: 28px;
    width: 26px;
    vertical-align: middle;
    font-size: 12px;
    background-color: #f8f8f8;
    float: left;
    display: inline;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


#sitenav {
    display: block;
    font-weight: bold;
    font-size: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    background: #34872e;
    border-top: 1px solid #499343;
    border-bottom: 1px solid #32582d;
    text-align: center;
    white-space: nowrap;
}

#sitenav a:first-child {
    margin-left: 0px;
}

#sitenav a {
    margin-left: 90px;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 2px #333;
}

#sitenav a:hover {
    border-bottom: 3px solid #fff;
}

#sitenav .current {
    border-bottom: 3px solid #fff;
}

/* Main blurb text on home page and teaser page */

#blurb {
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
    font-family: Georgia,serif;
}

/* Class to replicate blurb style at other points on the page */
.blurb 
{
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
    font-family: Georgia,serif;
}
/* Call to action boxes on home page */

.actions {
    margin-left: 5%;
}

.actions article {
    display: inline-block;
    width: 30%;
    text-align: center;
    vertical-align: top;
}

.actions article h1 {
    font-size: 24px;
    color: #345f2e;
}

/* Main site footer */

#footer {
    font-size: 12px;
    border-top: 1px solid #ccc;
    padding: 30px 0 25px 0;
    background: #f8f8f8;
    text-align: center;
}

#footer > nav 
{
    vertical-align: top;
    text-align: left;
    padding-bottom: 25px;
    line-height: 1.5em;
    width: 305px;
    display: inline-block;
}

#footer h1 {
    color: #34872E;
    font-size: 18px;
    display: block;
    padding-bottom: 15px;
    padding-top: 10px;
}

/* Generic footer horizontal nav */
footer nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    margin-left: 0px;
}

footer a {
    color: #666;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.toc {
    background: rgba(255, 255, 255, 0.65) url('../images/toc-bg.png') repeat-x scroll left top;
}

.toc.fixed {
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
}

.toc h1 {
    margin: 15px 0 15px 15px;
}

.toc ul {
    line-height: 1.5;
    margin-left: 1em;
}

.toc li {
    margin-bottom: 8px;
}


body > article, body > div {
    background: #fff;
}

article.documentation {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 12pt;
    font-family: Georgia, serif;
    background: #fff;
    position: relative;
    min-height: 780px;
    width: 860px;
    margin: 0 auto;
}

article.documentation nav {
    position: absolute;
    left: 725px;
    width: 185px;
    margin-bottom: 15px;
}

article.documentation > header h1 {
    font-size: 55px;
    font-weight: normal;
    padding-bottom: 15px;
    color: #8cc63f;
    margin-bottom: 0px;
    border-bottom: 2px solid #ddd;
}

article > p:first-child {
    margin-top: 2.5ex;
}

article p {
    margin-bottom: 30px; /* 2.5 ex */
}

/*article > section {
    padding-bottom: 24px;
    border-bottom: 2px solid #DDD;
} */

article > section > p:first-child {
    margin-top: 30px;
}

article.documentation > section {
    margin-right: 219px;
}

article > section > header > h1, article > section > section > header > h1, article > section > section > section > header > h1 {
    font-size: 34px;
    margin-top: 12px;
    margin-bottom: 12px;
}

article > section > section > header > h1, article > section > section > section > header > h1, article > section > h2, article > section > section > h2, article > section > section > section > h2, article > div.entry-content > h2 {
    margin-top: 24px;
    margin-bottom: 24px;
}
article > section > h2, article > section > section > h2, article > div.entry-content > h2 {
    font-size: 22px;
}

article > div.entry-content > h3 {
    margin-bottom: 12px;
}

article.documentation > section > section > section {
    border-top: 3px dotted #ddd;
}

article.documentation > section > section > section + section {
    /*border : 0px solid #fff;*/
}

article.documentation > section section {
    border-top: 3px dotted #ddd;
    padding-bottom: 5px;
}

article.documentation > section section:last-child {
    padding-bottom: 0;
}

article > section > p + pre {
    margin-top: 30px;
}

article.documentation > section ol, article.documentation > section ul, article.post > div.entry-content ol, article.post > div.entry-content ul, article.post > section.entry ol, article.post > section.entry ul {
    margin-left: 2em;
    margin-bottom: 24px;
}

article.documentation > section ul, article div.content-entry > ul {
    list-style-type: disc;
}

article.documentation > section li, article.post > div.entry-content li {
    margin: 12px 0;
}


article.documentation .note, article.documentation .warning {
    display: block;
    padding: 15px 10px 15px 44px;
    margin-bottom: 30px;
    margin-top: 30px;
    min-height: 30px;
}

article.documentation .note {
    background: aliceBlue url('../images/tab-note.png') no-repeat;
}

article.documentation .warning {
    background: #ffeeee url('../images/tab-warning.png') no-repeat;
}

.note p:last-child, .warning p:last-child {
    margin-bottom: 0;
}

section.meta {
    font-size: small;
}

/* Styles for blog posts */
article.post {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 260px;
    min-width: 500px;
    font-family: Georgia, serif;
    font-size: 12pt;
    width: 650px;
    margin: 0 auto;
}

article.post h1 {
    font-size: 32px;
    color: #8CC63F;
}

article.post h1 a {
    color: #8CC63F;
    text-decoration: none;
}

article.post h1 a:visited {
    color: #8CC63F;
}

article.post h1 a:hover {
    text-decoration: underline;
}

article.post footer {
    border: none;
    text-align: left;
    font-size: small;
    color: #aaa;
}

article.post footer a {
    color: #aaa;
}

body > article.post > footer {
    padding-top: 10px;
    border-top: 1px dashed #ddd;
    margin-top: 30px;
}

article.post time {
    display: block;
    margin-bottom: 25px;
    color: #aaa;
}

article.post > header h1 {
    margin-bottom: 30px;
}

article.post section {
    border: none;
}

article.post .wp-caption {
    background: #f3f3f3;
    padding: 5px;
    border: 1px solid #ddd;
    text-align: center;
    margin-bottom: 30px;
}

article.post .wp-caption p {
    margin-bottom: 5px;
}

article.post > div.entry-content > pre {
    margin-bottom: 30px;
}

section.previous-posts {
    margin: 0 auto;
    width: 860px;
    background: white;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Georgia, serif;
}

section.previous-posts > header {
    padding-top: 30px;
    padding-bottom: 30px;
}

section.previous-posts h1 {
    font-size: 24px;
}

nav.prev-next-posts {
    font-family: Georgia,serif;
    width: 650px;
    margin: 0 auto;
    background: white;
    padding-bottom: 50px;
    padding-right: 260px;
    font-size: 24px;
}

nav.prev-next-posts ul li {
    margin-bottom: 15px;
}

nav.prev-next-posts ul li:last-child {
    text-align: right;
}

article.archive {
    font-family: Georgia,serif;
    margin: 0 auto;
    width: 960px;
}

article.archive {
    padding: 50px 0;
}

article ul.archive {
    width: 660px;
    margin: 0 auto 50px auto;
    font-size: 16px;
    list-style: square outside none;
}

article ul.archive time {
    color: #aaa;
    float: right;
    font-size: 14px;
    margin-top: 2px;
}

article ul.archive li {
    margin-bottom: 10px;
}

article h2 + ul.archive {
    margin-top: 25px;
}

/* Styles for blog chrome */

#sidebar {
    padding: 15px;
    margin: 0 auto;
    width: 930px;
    text-align: center;
    font-size: 24px;
    font-family: Georgia, serif;
    background: white;
}

#sidebar > div {
    padding-bottom: 35px;
}

#sidebar li {
    padding-bottom: 0.5em;
}

#respond {
    min-width: 500px;
    padding-left: 50px;
    padding-bottom: 25px;
}

article.archive h1 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 50px;
}

#downloadstable {
    font-size: 9pt;
}

#downloadstable td, #downloadstable th {
    padding: 3px;
}

.steps > li {
    min-height: 33px;
    margin-bottom: 22px;
    list-style-position: inside;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 1.5ex;
    margin-top: 1.5ex;
    margin-left: 2em;
}

.bsdownload img {
    vertical-align: middle;
}

article.results {
    width: 960px;
}

code {
    font-size: 14px;
}

.column {
    width: 436px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.column h2 {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 16px; /*font-family: Georgia, serif;*/
    margin-top: 0;
}

.column a {
    text-decoration: none;
    color: #345F2E;
}

.column a:hover {
    color: green;
}

.float-left {
    float: left;
}

.image-left {
    margin-left: 74px;
}

.column ul 
{
    margin-left: 74px;
    list-style-type: disc;
    list-style-position: inside;
    list-style-image:none;
    margin-bottom: 30px;
}

.download 
{
    margin-top: 5px;
}

#compare table th
{
    padding-bottom: 10px;
}
#compare table td 
{
    height: 25px;
    vertical-align:middle;
}

.tick 
{
    background-image: url("/images/ok.gif");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: auto;
    padding: 5px;
}

.cross 
{
    background-image: url("/images/none.gif");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: auto;
    padding: 5px;
}

.tick span { display:none}
.cross span {display:none}

#teaser {
    width: 916px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: left;
}

#teaser h1 {
    margin-bottom: 25px;
    font-size: 40px;
}
#teaser > header {
    text-align: center;
}
#blurb {
    text-align: center;
    background: url("../images/divider.png") no-repeat scroll center bottom transparent;
    padding-bottom: 25px;
}

#blurb p {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#teaser header hgroup img {
    width: 125px;
    height: 125px;
}

#teaser header hgroup h1 {
    font-size: 40px;
}

img.downloadicon 
{
    margin-top: 6px;
    margin-left: 15px;
    display: inline;
    float: none;
}

.feature img 
{
    float:left;
}

.feature p, .feature h2 
{
    margin-left: 80px;
}

/* customer portal pages */

.content-wrapper 
{
    width: 916px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: left;
}

.content-wrapper h2 {
    font-size: large;
    margin-bottom: 1em;
}

/* Default para/list spacing */
.content-wrapper p, 
.content-wrapper ol, 
.content-wrapper ul 
{
    margin-bottom: 0.5em;
}

.content-wrapper ol, .content-wrapper ul {
    list-style-position: inside;
}


/* Forms */
fieldset {
    border: 1px solid green;
    padding: 1em;
}
legend 
{
    padding: 0.2em 0.5em;
    color: green;
    font-size: 90%;
    border: 1px solid green;
}

label {
    float: left;
    width: 25%;
    margin-right: 0.5em;
    margin-top: 0.2em;
    text-align: right;
    font-weight: bold;
}
fieldset > ol {
    list-style: none;
}

fieldset > ol > li {
    margin-bottom: 0.5em;
}
fieldset > input {
    margin-top: 0.5em;
}

.validation-summary-errors {
    color: red;
}

#licenseTable {
    width: 100%;
}

.listTable tr {
    line-height: 2em;
    border-bottom: 1px #ddd solid;
}

.listTable tbody tr.license {
    background: white;
}

.listTable tbody tr:nth-child(odd) {
    background: aliceblue;
}

#supportTable {
    width: 50%;
}

