<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BrightstarDB.StoreLocation" value="c:\brightstar" />
    <add key="BrightstarDB.LogLevel" value="ALL" />
    <add key="BrightstarDB.EnableOptimisticLocking" value="true" />
    <add key="BrightstarDB.QueryCacheMemory" value="512"/> <!-- 512MB query cache -->
  </appSettings>
</configuration>