@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<BrightstarDB.Server.Modules.Model.StoresResponseModel>
@{
    Layout = "_Layout";
    ViewBag.Title = "BrightstarDB: Stores";
}

<table class="items">
    <thead>
        <tr>
            <td>Store</td>
        </tr>
    </thead>
    <tbody>
    @foreach (var s in Model.Stores)
    {
        <tr>
            <td><a href="~/@s.Name">@s.Name</a></td>
        </tr>
    }
        </tbody>
</table>