@{
    ViewBag.Title = "Transaction";
}
<nav id="breadcrumb">
    <ul>
        <li>@Html.ActionLink("My Account", "Index", "Account")</li>
        <li>@Html.ActionLink((string)ViewBag.StoreId, "Manage", "Stores", new {id=ViewBag.StoreId}, null)</li>
        <li>Update</li>
    </ul>
</nav>
<article>
<h2>Update</h2>
<p>You can enter a set of triples to delete from the store and a set of triples to add using NTriple syntax.</p>
<p>The update will be queued and processed as a batch job that you can monitor from the browser.</p>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Delete Triples</legend>
        <textarea rows="5" cols="80" name="deleteTriples"></textarea>
    </fieldset>
    <fieldset>
        <legend>Insert Triples</legend>
        <textarea rows="5" cols="80" name="insertTriples"></textarea>
    </fieldset>
    <input type="submit" value="Submit Job" class="orange button"/>
}
</article>