<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="clusterConfiguration" type="BrightstarDB.ClusterManager.ClusterConfigurationSectionHandler, BrightstarDB.ClusterManager"/>
  </configSections>

  <clusterConfiguration>
    <masterConfiguration writeQuorum="1"/>
    <nodes>
      <add host="127.0.0.1" managementPort="10001" tcpServicePort="8096" httpServicePort="8091"/>
      <add host="127.0.0.2" managementPort="10002" tcpServicePort="8097" httpServicePort="8092"/>
    </nodes>
  </clusterConfiguration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
