<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="NetworkedPlanet.Brightstar.ConnectionString" value="type=embedded;storesdirectory=c:\brightstar\;storename="/>
  </appSettings>

  <!--
  <system.diagnostics>
    <sources>
      <source name="openrasta" switchName="OpenRasta">
        <listeners>
          <add name="FileLog"/>
        </listeners>
      </source>
    </sources>

    <switches>
      <add name="OpenRasta" value="All"/>
    </switches>

    <sharedListeners>
      <add name="FileLog"
                   type="System.Diagnostics.XmlWriterTraceListener"
                   initializeData= "c:\brightstar\Traces.svclog" />
      <add name="ErrorEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="Application"/>
    </sharedListeners>
  </system.diagnostics>
  -->
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxQueryStringLength="4096"/>
    
    <pages>
      <namespaces>
        <add namespace="OpenRasta.Web"/>
        <add namespace="OpenRasta.Web.Markup"/>
        <add namespace="OpenRasta.Codecs.WebForms"/>
        <add namespace="OpenRasta"/>
        <add namespace="NetworkedPlanet.Brightstar.LinkedDataServer.Handlers"/>
        <add namespace="NetworkedPlanet.Brightstar.LinkedDataServer.Resources"/>
      </namespaces>
    </pages>
    
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="OpenRastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet"/>
    </modules>
    <handlers>
      <add name="OpenRastaHandler" verb="*" path="*.rastahook" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="4096"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
