<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BrightstarDB.StoreLocation" value="c:\brightstar" />
    <add key="BrightstarDB.LogLevel" value="ALL" />
    <add key="BrightstarDB.ConnectionString" value="Type=embedded;StoresDirectory=c:\brightstar\;StoreName=OdataTests" />
    <add key="BrightstarDB.EnableServerSideCaching" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>