<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpContextBinding_IBrightstarWcfService"
                    allowCookies="true" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IBrightstarWcfService" transferMode="Streamed" />
            </netNamedPipeBinding>
            <netTcpContextBinding>
                <binding name="NetTcpContextBinding_IBrightstarWcfService" transferMode="Streamed" />
            </netTcpContextBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/brightstar" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpContextBinding_IBrightstarWcfService"
                contract="BrightstarDB.Client.IBrightstarWcfService" name="BasicHttpContextBinding_IBrightstarWcfService" />
            <endpoint address="net.tcp://localhost:8095/brightstar" binding="netTcpContextBinding"
                bindingConfiguration="NetTcpContextBinding_IBrightstarWcfService"
                contract="BrightstarDB.Client.IBrightstarWcfService" name="NetTcpContextBinding_IBrightstarWcfService">
            </endpoint>
            <endpoint address="net.pipe://localhost/brightstar" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IBrightstarWcfService"
                contract="BrightstarDB.Client.IBrightstarWcfService" name="NetNamedPipeBinding_IBrightstarWcfService">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>