<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpContextBinding_IBrightstarClusertManagerService"
                    allowCookies="true" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IBrightstarClusertManagerService"
                    transferMode="Streamed" />
            </netNamedPipeBinding>
            <netTcpContextBinding>
                <binding name="NetTcpContextBinding_IBrightstarClusertManagerService"
                    transferMode="Streamed" />
            </netTcpContextBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9090/brightstarcluster" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpContextBinding_IBrightstarClusertManagerService"
                contract="BrightstarDB.Client.IBrightstarClusertManagerService"
                name="BasicHttpContextBinding_IBrightstarClusertManagerService" />
            <endpoint address="net.tcp://localhost:9095/brightstarcluster"
                binding="netTcpContextBinding" bindingConfiguration="NetTcpContextBinding_IBrightstarClusertManagerService"
                contract="BrightstarDB.Client.IBrightstarClusertManagerService"
                name="NetTcpContextBinding_IBrightstarClusertManagerService">
                <identity>
                    <userPrincipalName value="FOZZIE\Kal" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/brightstarcluster" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IBrightstarClusertManagerService"
                contract="BrightstarDB.Client.IBrightstarClusertManagerService"
                name="NetNamedPipeBinding_IBrightstarClusertManagerService">
                <identity>
                    <userPrincipalName value="FOZZIE\Kal" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>