@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<BrightstarDB.Server.Modules.Model.SparqlUpdateRequestObject>
@{
    Layout = "_Layout";
    ViewBag.Title = "BrightstarDB: SPARQL Update";
}
@section Head {
    <script src="~/assets/jquery-1.10.2.min.js" type="text/javascript"></script>
}
<nav>
    <ul class="horizontal breadcrumb">
        <li><a href="~/">Home</a></li>
        <li><a href="~/@Model.StoreName">@Model.StoreName</a></li>
        <li><a href="~/@Model.StoreName/update">SPARQL Update</a></li>
    </ul>
</nav>

<section>
    <h1>SPARQL Update</h1>
    <noscript>
        <p>Javascript is required to post SPARQL Update requests to the server.</p>
    </noscript>
    <fieldset id="requestField" style="display:none">
        <legend>SPARQL Update</legend>
        <div>
            <label class="form-label" for="updateExpression">Update Expression</label>
            <textarea class="form-field" id="updateExpression" name="Update" rows="6" cols="80" ></textarea>
        </div>
        <button id="submitButton">Submit Update Job</button>
    </fieldset>
    <fieldset id="statusField" style="display: none">
        <legend>Update Status:</legend>
        <div id="statusMessage"></div>
    </fieldset>
</section>

<script type="text/javascript">
    $('#requestField').show();
    $('#submitButton').click(function() {
        $('#statusField').show();
        $('#statusMessage').text('Submitting SPARQL update...');
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/" + Model.StoreName + "/update")',
            data: { 'Update': $('#updateExpression').val() },
            dataType: 'json'
        }).done(function () {
            $('#statusMessage').text('Update completed successfully.');
        }).fail(function(jqXHR, textStatus) {
            $('#statusMessage').text('Update failed: ' + textStatus);
        });
    });
</script>