@model List<BrightstarDB.Azure.Management.AccountSummary>
@{
    ViewBag.Title = "Index";
}

@Html.Partial("_AdminMenuPartial")
<h2>Accounts List</h2>

<table class="display">
            <thead>
                <tr>
                    <td>Account Id</td>
                    <td>Account Email</td>
                    <td>Is Admin ?</td>
                </tr>
            </thead>
            <tbody>
    @foreach (var account in Model)
    {
        <tr>
            <td>@Html.ActionLink(account.AccountId, "Index", "AccountAdmin", new { id=account.AccountId }, null)</td>
            <td>@account.EmailAddress</td>
            <td>@account.IsAdmin</td>
        </tr>
    }
    </tbody>
</table>

<script>
    jQuery(document).ready(function () {
        $('table.display').dataTable({ bJQueryUI: true, sPaginationType: 'full_numbers' });
    });
</script>