<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="clusterConfiguration" type="BrightstarDB.ClusterManager.ClusterConfigurationSectionHandler, BrightstarDB.ClusterManager"/>
  </configSections>

  <clusterConfiguration>
    <masterConfiguration writeQuorum="2"/>
    <nodes>
      <add host="127.0.0.1" managementPort="10001" tcpServicePort="8095" httpServicePort="8091"/>
      <add host="127.0.0.2" managementPort="10002" tcpServicePort="8096" httpServicePort="8092"/>
    </nodes>
  </clusterConfiguration>
</configuration>