<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <uri>
    <schemeSettings>
      <clear/>
      <add name="http" genericUriParserOptions="DontUnescapePathDotsAndSlashes"/>
    </schemeSettings>
  </uri>
  <appSettings>
    <add key="SdShare.ConfigurationLocation" value="SdShareConfig.xml"/>
    <add key="SdShare.ServerPort" value="9090"/>
  </appSettings>
  
  <!-- web.config elements for service-->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <bindings>
      <webHttpBinding>
        <binding name="WebHttpStreaming" transferMode="Streamed">
        </binding>
      </webHttpBinding>
    </bindings>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="RESTBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="returnFaults">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="BrightstarDB.SdShare.Service.PublishingService" behaviorConfiguration="returnFaults">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9090/sdshare"/>
          </baseAddresses>
        </host>
        
        <endpoint address="" behaviorConfiguration="RESTBehavior" binding="webHttpBinding" contract="BrightstarDB.SdShare.Service.IPublishingService">
        </endpoint>
      </service>
    </services>

  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
