@{
    ViewBag.Title = "Account Error";
}

<h2>@ViewBag.ErrorMessage</h2>

@if(ViewBag.ErrorDetail != null)
{
    <p>@ViewBag.ErrorDetail</p>
}

<p>@Html.ActionLink("Return to Account", "Index", "Account", null, new {@class="orange button"})</p>

