@model IEnumerable<BrightstarDB.Azure.Management.StoreDetail>

@{
    Layout = null;
}

<div class="stores">
@foreach (var s in Model)
{
<div class="storeDetail">
    <table>
        <tr>
            <th>Store ID:</th>
            <td>@s.Id</td>
        </tr>
        <tr>
            <th>Data Usage:</th>
            <td>@s.CurrentSize / @s.SizeLimit</td>
        </tr>
    </table>
</div>
}
</div>