<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Sample Page</title>
    <link rel="stylesheet" href="../assets/core.css"/>
</head>
    <body>
        <nav>
            <ul class="horizontal breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Breadcrumb</a></li>
                <li><a href="#">Current Page</a></li>
            </ul>
        </nav>
    
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Header 1</th>
                        <th>Header 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Item A</td>
                        <td>Item B</td>
                    </tr>
                    <tr>
                        <td>Item C</td>
                        <td>Item D</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <script type="text/javascript">
            
        </script>
    </body>
</html>