@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<BrightstarDB.Server.Modules.Model.StoreDeletedModel>
@{
    Layout = "_Layout";
    ViewBag.Title = "BrightstarDB: Store Deleted";
}
<nav>
    <ul class="horizontal breadcrumb">
	    <li><a href="~/">Home</a></li>
        <li><a href="#">Delete Store @Model.StoreName</a></li>
    </ul>
</nav>

<div class="info">
	<p>Store '@Model.StoreName' deleted successfully.</p>
</div>

<a class="right" href="~/">Return Home</a>
