@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<BrightstarDB.Dto.StoresResponseModel>
@{
    Layout = "_Layout";
    ViewBag.Title = "BrightstarDB: Stores";
}
@section Head {
    <script src="~/assets/jquery-1.10.2.min.js" type="text/javascript"></script>
}

<nav>
    <ul class="breadcrumb horizontal">
        <li><a href="#">Home</a></li>
    </ul>
</nav>

<section>
    <h1>@ViewBag.Title</h1>
    

    <p>Stores available on this BrightstarDB server.</p>

    <div class="right">
        <form id="newStoreForm">
            <fieldset>
                <legend>Create New Store</legend>
                <div>
                    <label class="form-label" for="storeName">Store Name:</label>
                    <input id="storeName" name="StoreName" type="text"/>
                </div>
                <input id="newStoreButton" type="submit" />
            </fieldset>
        </form>
    </div>

    <table class="items" id="storesTable">
        <thead>
            <tr>
                <th>Store</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model.Stores)
            {
                <tr>
                    <td><a href="~/@s">@s</a></td>
                </tr>
            }
        </tbody>
    </table>
    
</section>

<script type="text/javascript">
    $('#newStoreButton').click(function(event) {
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "@Url.Content("~/")",
            data: $('#newStoreForm').serialize(),
            dataType: 'json'
        }).done(function(data) {
            $('<tr></tr>')
                .appendTo($('#storesTable tbody'))
                .append('<td><a href="' + data.Name + '">' + data.Name + '</a></td>');
        }).fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
    });
</script>