<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotNetRDF" version="1.0.9.3683" targetFramework="portable4-net45+sl5+win8+wp8" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="portable4-net45+sl5+win8+wp8" />
  <package id="SharpSerializer.PCL" version="2.18.7" targetFramework="portable-net45+sl5+win8+wp8" />
  <package id="VDS.Common" version="1.6.0" targetFramework="portable-net45+sl5+win8+wp8" />
</packages>