<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotNetRDF" version="1.0.9-prerelease02" targetFramework="portable-net45+sl50+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="portable-net45+sl50+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="SharpSerializer.PCL" version="2.18.7" targetFramework="portable-net45+sl50+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="VDS.Common" version="1.6.0" targetFramework="portable-net45+sl50+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
</packages>