<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SdShare.ConfigurationLocation" value="C:\Work\brightstar\trunk\src\sdshare\BrightstarDB.SdShare.Service\SdShareConfig.xml"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <bindings>
      <webHttpBinding>
        <binding name="WebHttpStreaming" transferMode="Streamed"/>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RESTBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="returnFaults">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="BrightstarDB.SdShare.Service.PublishingService" behaviorConfiguration="returnFaults">
        <endpoint address="" behaviorConfiguration="RESTBehavior" binding="webHttpBinding" contract="BrightstarDB.SdShare.Service.IPublishingService"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>