<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="nancyFx" type="Nancy.Hosting.Aspnet.NancyFxSection" />
    <section name="brightstarService" type="BrightstarDB.Server.Modules.BrightstarServiceConfigurationSectionHandler, BrightstarDB.Server.Modules" />
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    
    <httpRuntime />
  <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers></system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    
    
  <validation validateIntegratedModeConfiguration="false" /><httpErrors existingResponse="PassThrough" /><handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers></system.webServer>

  <nancyFx>
    <bootstrapper assembly="BrightstarDB.Server.AspNet" type="BrightstarDB.Server.AspNet.DefaultBootstrapper" />  
  </nancyFx>

  <brightstarService connectionString="type=embedded;storesDirectory=c:\brightstar\">
    <storePermissions>
      <fallback authenticated="All" anonymous="All" />
    </storePermissions>
    <systemPermissions>
      <fallback authenticated="All" anonymous="All" />
    </systemPermissions>
  </brightstarService>

  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="BrightstarDB" />
    </assemblies>
    <namespaces>
      <add namespace="BrightstarDB.Dto" />
    </namespaces>
  </razor>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>