@{
    ViewBag.Title = "BrightstarDB Service";
}

<h2>Welcome to the Brightstar<span class="orange-text">DB</span> Service Portal</h2>

<p>BrightstarDB Service is currently in closed beta. For more information about the service and how to participate in the beta program, please visit <a href="http://brightstardb.com/service/">the Service section of our main website</a>.</p>

<p>If you are currently participating in the BrightstarDB beta, you can <a href="/Account">log in here</a>.</p>
