<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
   <add key="BrightstarDB.ConnectionString" value="Type=embedded;StoresDirectory=c:\brightstar\;StoreName=OdataTests" />
    <!--<add key="BrightstarDB.ConnectionString" value="Type=http;endpoint=http://localhost:8090/brightstar;StoreName=OdataTests" />-->
  </appSettings>
  <system.web>
    <trust level="full" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>