<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <customErrors mode="Off" xdt:Transform="Replace"/>
  </system.web>
  <microsoft.identityModel>
    <service>
      <audienceUris xdt:Transform="Replace">
        <add value="https://service.brightstardb.com/"/>
      </audienceUris>
      <federatedAuthentication>
        <wsFederation passiveRedirectEnabled="true" issuer="https://brightstardb.accesscontrol.windows.net/v2/wsfederation" realm="https://service.brightstardb.com/" requireHttps="false" xdt:Transform="Replace" />
      </federatedAuthentication>
    </service>
  </microsoft.identityModel>
</configuration>