<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="dotNetRDF" version="1.0.3" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" />
  <package id="MvvmLight" version="3.0.3" />
  <package id="MvvmLight" version="4.2.30.0" targetFramework="net40" />
  <package id="MvvmLightLibs" version="4.2.30.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net40" />
  <package id="VDS.Common" version="1.2.0" targetFramework="net40" />
</packages>